/.vs/futebol/FileContentIndex/874fe663-7579-4fa0-bdb1-8eb0effd0366.vsidx
/.vs/futebol/FileContentIndex/a3a72463-3733-472a-ae84-71f6fff78312.vsidx
/.vs/futebol/FileContentIndex/a7f9251f-5399-4a21-a831-1979af9ea40f.vsidx
/.vs/futebol/config/applicationhost.config
/.vs/futebol/v17/.suo
/.vs/futebol/v17/DocumentLayout.json
/bin/Debug/net7.0/Microsoft.AspNetCore.OpenApi.dll
/bin/Debug/net7.0/Microsoft.OpenApi.dll
/bin/Debug/net7.0/Swashbuckle.AspNetCore.Swagger.dll
/bin/Debug/net7.0/Swashbuckle.AspNetCore.SwaggerGen.dll
/bin/Debug/net7.0/Swashbuckle.AspNetCore.SwaggerUI.dll
/bin/Debug/net7.0/appsettings.Development.json
/bin/Debug/net7.0/appsettings.json
/bin/Debug/net7.0/futebol.deps.json
/bin/Debug/net7.0/futebol.dll
/bin/Debug/net7.0/futebol.exe
/bin/Debug/net7.0/futebol.pdb
/bin/Debug/net7.0/futebol.runtimeconfig.json
/futebol.csproj.user
/obj/Debug/net7.0/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
/obj/Debug/net7.0/apphost.exe
/obj/Debug/net7.0/futebol.AssemblyInfo.cs
/obj/Debug/net7.0/futebol.AssemblyInfoInputs.cache
/obj/Debug/net7.0/futebol.GeneratedMSBuildEditorConfig.editorconfig
/obj/Debug/net7.0/futebol.GlobalUsings.g.cs
/obj/Debug/net7.0/futebol.MvcApplicationPartsAssemblyInfo.cache
/obj/Debug/net7.0/futebol.MvcApplicationPartsAssemblyInfo.cs
/obj/Debug/net7.0/futebol.assets.cache
/obj/Debug/net7.0/futebol.csproj.AssemblyReference.cache
/obj/Debug/net7.0/futebol.csproj.BuildWithSkipAnalyzers
/obj/Debug/net7.0/futebol.csproj.CoreCompileInputs.cache
/obj/Debug/net7.0/futebol.csproj.FileListAbsolute.txt
/obj/Debug/net7.0/futebol.csproj.Up2Date
/obj/Debug/net7.0/futebol.dll
/obj/Debug/net7.0/futebol.genruntimeconfig.cache
/obj/Debug/net7.0/futebol.pdb
/obj/Debug/net7.0/ref/futebol.dll
/obj/Debug/net7.0/refint/futebol.dll
/obj/Debug/net7.0/staticwebassets.build.json
/obj/Debug/net7.0/staticwebassets/msbuild.build.futebol.props
/obj/Debug/net7.0/staticwebassets/msbuild.buildMultiTargeting.futebol.props
/obj/Debug/net7.0/staticwebassets/msbuild.buildTransitive.futebol.props
/obj/futebol.csproj.nuget.dgspec.json
/obj/futebol.csproj.nuget.g.props
/obj/futebol.csproj.nuget.g.targets
/obj/project.assets.json
/obj/project.nuget.cache
/.vs/futebol/FileContentIndex/dd638eab-d666-4352-ab2f-a32c3c22286a.vsidx
/.vs/futebol/FileContentIndex/*.vsidx
